@{
    ViewBag.Title = "Naslov";
}

<div class="card-deck">
    <h1>Raspored</h1>
</div>

@*<li class="nav-item">
    <a class="nav-link" asp-controller="account" asp-action="login">Login</a>
</li>*@

<div>
    <table class="table table-responsive" cellspacing="0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Predskolska ustanova</th>
                <th scope="col">Trener 1</th>
                <th scope="col">Trener 2</th>
                <th scope="col">Obuka</th>
                <th scope="col">Datum pocetka</th>
                <th scope="col">Datum zavrsetka</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>
